body {
    position: relative;
    overflow-x: hidden;
    background-color: #CFD8DC;

}
.bigBox{
    display: flex;
    justify-content: center;
}
.box{
    width: 80%;
    text-align: center;
}

h1{
  font-size: 5rem ;
//   margin-top: 15rem;
}
h3{
  font-size: 2rem ;
//   display: flex;
//   justify-content: center;
// //   margin-top: 7rem;
}


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}

.parent{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.leftSide{
    margin-top: -40px;
}



// Navbar


body {
    
    background-color: #0cbaba  !important;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

    height: 100vh;
  }
//   .cards {
//     background-color: #2952b4;
//     width: 200px;
//     height: 200px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 5px;
//   }
//   .InsideItems {
//     font-size: 100px;
//     color: #92a7be;
//   }
  
//   .outerItems {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
//   .card__text {
//     margin-top: 5px;
//     color: #92a7be;
//   }
//   .row {
//     // margin: 20px;
//   }
//   .container {
//     margin-top: 0px;
//     // width: 50% !important;
//   }

//   .parent{
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: space-evenly;
//     margin-bottom: 30px;
//   }

  .top-label{
    background-color: #5de6de;
    background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
    color: #92a7be;
    padding: 25px;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 600;
  }
  .topnav {
  overflow: hidden;
  
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}
.button{
  float: right;
  border-color: #e67913;
  background: rgb(66, 186, 207);
  text-align: center;
  padding: 10px 10px;
  font-size: 17px;
  border-radius: 20px;
  cursor: pointer;
    
}
.SIGN_UP{
color: rgb(255, 255, 255);
}
// .f{
// display: flex;
// justify-content: center;
// text-align: center;
// margin-top: 15rem;
// flex-direction: column;
// flex-flow:row wrap;
// font-size: 70px;
// font: weight 30px; 

// }
// .h3{
//   display: flex;
//  text-align: center;
//  margin-top: 30px;

// }